<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()" style="color:rgb(255, 57, 57);">
          X
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ng-container>
          <ion-list style="text-align:center">
            <ion-title style="text-align: center; color:seagreen">Complete this order?</ion-title>
            <br/>
            <ion-button style="text-align: center; size: small; font-weight: bold;" (click)="completeOrder()">Yes, complete this order.</ion-button>
          </ion-list>
        </ng-container>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>