<ion-content>
  <div style="margin-left:10%;margin-bottom:32px;margin-top:5%">
    <ion-title style="padding-left:0px;padding-bottom:16px;font-size: x-large;font-weight: bold;">
      Sign Up
    </ion-title>

  </div>

  <div>
    <form [formGroup]="form"  (ngSubmit)="onSignup()" >
      <div>
        <ion-label style="margin-left:10%;color:rgb(255, 57, 57);font-weight: bold;">Email</ion-label>
        <ion-input placeholder="Email" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" style="margin-top:8px;"></ion-input>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback" >
            <div style="margin-left:10%" *ngIf="f.email.errors.required">Email is required</div>
            <div style="margin-left:10%" *ngIf="f.email.errors.email">Please enter a real email</div>
        </div>
      </div>

      <div style="margin-top:32px;">
        <ion-label style="margin-left:10%;color:rgb(255, 57, 57);font-weight: bold;">Phone Number</ion-label>
        <ion-input placeholder="Phone Number" type="text" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" style="margin-top:8px;"></ion-input>
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback" >
            <div style="margin-left:10%" *ngIf="f.phone.errors.required">Phone number is required</div>
            <div style="margin-left:10%" *ngIf="f.phone.errors.pattern">Phone number must be 10 digits</div>
        </div>
      </div>

      <div style="margin-top:32px;">
        <ion-label style="margin-left:10%;color:rgb(255, 57, 57);font-weight: bold">Password</ion-label>
        <ion-input placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" style="margin-top:8px;"></ion-input>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div style="margin-left:10%" *ngIf="f.password.errors.required">Password is required</div>
            <div style="margin-left:10%" *ngIf="f.password.errors.pattern">Password must be at least 6 characters</div>
        </div>
      </div>

      <div style="margin-top:32px;">
        <ion-label style="margin-left:10%;color:rgb(255, 57, 57);font-weight: bold">Confirm Password</ion-label>
        <ion-input placeholder="Password" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" style="margin-top:8px;" (ngModelChange)="checkPasswords()"></ion-input>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div style="margin-left:10%" *ngIf="f.password.errors.required">Confirm Password is required</div>

        </div>
        <div class="invalid-feedback" *ngIf="f.confirmPassword.value!=''">
          <div style="margin-left:10%" *ngIf="!validPassword">Confirm Password does not match</div>
        </div>

      </div>


      <div style="padding-top:10%;text-align: center;">
        <ion-button (click)="onSignup()" class="login" [disabled]="loading">
          <span *ngIf="!loading">Sign Up</span>
          <span *ngIf="loading">Signing Un...&nbsp;</span>
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      </ion-button>
      </div>
    </form>
  </div>

  <div style="text-align: center;position:absolute;bottom:32px;width:100%;">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label style="color: rgb(170, 170, 170)">Have an Account? </ion-label>
          <a routerLink="/login" style="color:rgb(255, 57, 57);font-weight: bold;">Sign In</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
